.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.pagination {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.list {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  background-color: #FF4000;

  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 7px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.button:hover {
  background-color: #CF0A0A;
}

.active {
  background-color: #ccc;
  /* Agregue cualquier estilo adicional que desee para resaltar la página actual */
}