.back{
  background-image: url("../../Image/1920x1080-doom-reverse_1563221784.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

  

}
.container121212 {
  margin-left: 200px;
  padding-top: 200px;
  /* height: 73vh; */
}

.search{
  margin-left:43rem;  
}